*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Merriweather", serif
}

body{
background: #f2f2f2;
}

h1{
    font-size: 120px;
    text-align: center;
    color: rgba(255, 255, 255, .4);
}

.parallax-1{
    background: url('images/hd-beautiful.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-2{
    background: url('images/elephant.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-3{
    background: url('images/lightning.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-4{
    background: url('images/waterfalls.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.parallax-inner{
    padding: 10% 0;
}

h2{
    font-size: 32px;
    color: #555;
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    margin: 20px 0 10px;
}

p{
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin:20px 50px 40px;
}
p:nth-of-type(2),
p:nth-of-type(3) {
margin: 40px 50px;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background-color: azure;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(10, 8, 10);
    border-radius: 10px;
}

p:nth-of-type(2),
p:nth-of-type(3){
    margin: 40px 50px;
}